body{
    background-color: #ADB3BC;
}
/* c5c5c5 */
/* navbar class bg-light */
.navbar{
    background-color: #647C90;
}
.welcome{
    margin: 5rem;
    padding: 1rem;
    text-align: center;
    color: #914955;
    font-size: larger;
}
.carousel{
    margin: 4.5rem auto;
}
.carousel-item{
    height: 35rem;
}
.d-block{
    margin: auto;
}



@media (max-width: 960px){
    .welcome{
        color: aqua;
    }
    .carousel-item{
        height: 25rem;
    }
    
}
@media (max-width: 720px){
    .welcome{
        color:red;
    }
    .carousel-item{
        height: 20rem;
    }
}
@media (max-width: 540px){
    .welcome{
        color:black;
    }
    .carousel-item{
        height: 15rem;
    }
}