body{
    background-color: #f7f3e6;
}
.logo{
    border-radius: 100%;
    height: 3rem;
}
.jumbo{
    margin-top: 5.5rem;
}
.carousel{
    margin: 4.5rem auto;
}
.carousel-item{
    height: 35rem;
}
.d-block{
    margin: auto;
}
.accordion{
    margin-bottom: 1.5rem;
}

/* Footer */
.footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.fc{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
/* .footer{
    border-top: 5px solid #fff;
    height: 150px;
    margin: auto;
    clear: both;
} */
/* .frow{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* .fc{
    margin: 0 2.2%;
    height: 150px;
    width: 28%; */
    /* background-color: #3A475E; */
    /* float: left; */
/* } */
/* .flogo{ */
    /* height: 50px;
    border-radius: 100%; */
    /* margin-top: 25px;
    margin-left: 100px;
} */
.copyhw, .find{
    /* font-family: 'Roboto', sans-serif; */
    color: #fff;
    /* font-size: 13px;
    margin-left: 45px;
    padding-top: 10px; */
}
.fa-hippo{
    color:#fff;
    /* margin: 70px 0 0 47%; */
}
.socials{
    /* text-align: right; */
    color: #fff;
}
.soc:link, .soc:visited{
    color: #fff;
}
.soc:hover{
    color:#abbda7;
}
.soc:active{
    color: #8fa382;
}
/* .fa-brands{
    margin: 5px;
} */








@media (max-width: 960px){
    .carousel-item{
        height: 25rem;
    }
    
}
@media (max-width: 720px){
    .logo{
        height: 2rem;
    }
    .carousel-item{
        height: 20rem;
    }
}
@media (max-width: 540px){
    .carousel-item{
        height: 15rem;
    }
    .d-block{
        width: 90%;
    }
}