body{
    background-color: #ADB3BC;
}
/* c5c5c5 */
/* navbar class bg-light */
.navbar{
    background-color: #647C90;
}
.carousel{
    margin-top: 4.5rem;
}
.carousel-item{
    height: 35rem;
}
.d-block{
    margin: auto;
}



/* 
@media (min-width:960px) {
    .carousel{
        height: 15rem;
    }    
} */